/* src/app/modules/qc/components/delivery-type/delivery-type.component.scss */

/* Style for the delivery type dropdown */
.delivery-type-dropdown {
  background-color: white;
  color: black;
  font-family: 'Tahoma', sans-serif;
  font-size: 8px;
  font-style: normal;
  position: absolute;
  top: 689px;
  left: 188px;
}